Repository demirtasdurmus/next-saas-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write --ignore-path .gitignore"
  ],
  "**/*.ts?(x)": ["bash -c tsc -p tsconfig.json --noEmit"],
  "*.{json,yaml}": ["prettier --write --ignore-path .gitignore"]
}

docs: update development steps file [skip ci]
  steps.md
Due: none

feat: add story book with cli
  .eslintrc.json
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  tsconfig.json
Due: eslint --fix, prettier --write --ignore-path .gitignore

feat: add a shadcn button component stories
  src/stories/NewButton.stories.ts
Due: eslint --fix, prettier --write --ignore-path .gitignore

feat: add-storybook (#7)
  .eslintrc.json
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/stories/Button.stories.ts
  src/stories/Button.tsx
  src/stories/Configure.mdx
  src/stories/Header.stories.ts
  src/stories/Header.tsx
  src/stories/NewButton.stories.ts
  src/stories/Page.stories.ts
  src/stories/Page.tsx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  tsconfig.json
Due: eslint --fix, prettier --write --ignore-path .gitignore

feat: set up dark mode support
  package-lock.json
  package.json
  src/app/[locale]/layout.tsx
  src/components/Header.tsx
  src/components/ModeToggle.tsx
  src/components/ui/dropdown-menu.tsx
  src/providers/ThemeProvider.tsx
Due: eslint --fix, prettier --write --ignore-path .gitignore

feat: set up dark mode support (#8)
  package-lock.json
  package.json
  src/app/[locale]/layout.tsx
  src/components/Header.tsx
  src/components/ModeToggle.tsx
  src/components/ui/dropdown-menu.tsx
  src/providers/ThemeProvider.tsx
Due: eslint --fix, prettier --write --ignore-path .gitignore

feat: add checkly for monitoring
  __checks__/api.check.ts
  __checks__/heartbeat.check.ts
  __checks__/homepage.spec.ts
  checkly.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write --ignore-path .gitignore

docs: update development steps file' [skip ci]
  steps.md
Due: none

feat: add pino and logtail for logging
  global.d.ts
  package-lock.json
  package.json
  src/app/[locale]/api/root/route.ts
  src/libs/env.mjs
  src/libs/logger.ts
Due: eslint --fix, prettier --write --ignore-path .gitignore

build: update dependencies to the latest version
  package-lock.json
  package.json
Due: prettier --write --ignore-path .gitignore
