Repository demirtasdurmus/next-saas-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "**/*.ts?(x)": ["bash -c tsc -p tsconfig.json --noEmit"],
  "*.{json,yaml}": ["prettier --write"]
}

chore: add commitlint and commit prompt
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.ts
  package-lock.json
  package.json
  steps.md
Due: eslint --fix, prettier --write

chore: update format scripts to ignore gitignore path
  .lintstagedrc.json
  .prettierignore
  commitlint.config.ts
  package.json
Due: eslint --fix, prettier --write

chore: add drizzle with tursodb and create necessary scripts
  .eslintrc.json
  .gitignore
  drizzle.config.ts
  environment.d.ts
  migrations/0000_bent_turbo.sql
  migrations/meta/0000_snapshot.json
  migrations/meta/_journal.json
  package-lock.json
  package.json
  scripts/migrate.ts
  src/app/example/page.tsx
  src/libs/db.ts
  src/libs/env.mjs
  src/models/schema.ts
  steps.md
Due: eslint --fix, prettier --write

docs: update development steps file
  steps.md
Due: none

test: add jest and sample test files
  .eslintrc.json
  __tests__/home.test.tsx
  global.d.ts
  jest.config.ts
  jest.setup.ts
  js-config-test.js
  package-lock.json
  package.json
  src/app/page.tsx
  steps.md
Due: eslint --fix, prettier --write

test: add e2e test setup and sample test files
  .eslintrc.json
  .github/workflows/playwright.yml
  .gitignore
  __tests__/e2e/example.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
  src/app/about/page.tsx
Due: eslint --fix, prettier --write

test: fix jest test mathc pattern
  jest.config.ts
  steps.md
Due: eslint --fix, prettier --write

ci: add ci pipeline configuration file
  .github/workflows/ci.yml
Due: none

ci: update ci configuration file
  .github/workflows/playwright.yml
Due: none

ci: update artifact dir name for e2e tests
  .github/workflows/ci.yml
Due: none

chore: update gitignore file to exclude swc
  .github/workflows/ci.yml
  .gitignore
Due: none

ci: add doc link to cache playwright [skip ci]
  .github/workflows/ci.yml
Due: none

ci: add codecov to the ci pipeline
  .github/workflows/ci.yml
  codecov.yml
Due: none

ci: add codecov to the ci pipeline (#1)
  .github/workflows/ci.yml
  codecov.yml
Due: none

docs: update development steps [skip ci]
  steps.md
Due: none

ci: add update dependecies ci workflow [skip ci]
  .github/workflows/update-deps.yml
  steps.md
Due: none

build: update dependencies to the latest version
  package-lock.json
  package.json
Due: prettier --write

build: update dependencies to the latest version (#2)
  package-lock.json
  package.json
Due: prettier --write

ci: update ci yaml wrong env variable
  .github/workflows/ci.yml
Due: none

docs: update development steps file [skip ci]
  .github/workflows/update-deps.yml
  steps.md
Due: none

test: update coverage directory for artifact upload
  jest.config.ts
Due: eslint --fix, prettier --write

docs: update development steps file [skip ci]
  steps.md
Due: none

feat: add localization support for en and tr languages
  .vscode/settings.json
  __tests__/home.test.tsx
  global.d.ts
  next.config.mjs
  package-lock.json
  package.json
  src/app/[locale]/about/page.tsx
  src/app/[locale]/example/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/about/page.tsx
  src/app/example/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/libs/i18n.ts
  src/locales/en.json
  src/locales/tr.json
  src/middleware.ts
  src/styles/globals.css
  src/utils/config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: add localization with next intl (#3)
  .vscode/settings.json
  __tests__/home.test.tsx
  global.d.ts
  next.config.mjs
  package-lock.json
  package.json
  src/app/[locale]/about/page.tsx
  src/app/[locale]/example/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/about/page.tsx
  src/app/example/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/libs/i18n.ts
  src/locales/en.json
  src/locales/tr.json
  src/middleware.ts
  src/styles/globals.css
  src/utils/config.ts
  steps.md
  tsconfig.json
Due: eslint --fix, prettier --write

feat: add crowdin for localization management
  crowdin.yml
  global.d.ts
  src/app/[locale]/page.tsx
  src/locales/de.json
  src/locales/en.json
  src/locales/tr.json
  src/middleware.ts
  src/utils/config.ts
Due: eslint --fix, prettier --write

feat: add crowdin for localization management (#4)
  crowdin.yml
  global.d.ts
  src/app/[locale]/page.tsx
  src/locales/de.json
  src/locales/en.json
  src/locales/tr.json
  src/middleware.ts
  src/utils/config.ts
Due: eslint --fix, prettier --write

feat: add auth with clerk
  __tests__/home.test.tsx
  package-lock.json
  package.json
  public/next-white.svg
  src/app/[locale]/(auth-pages)/layout.tsx
  src/app/[locale]/(auth-pages)/sign-in/[[...sign-in]]/page.tsx
  src/app/[locale]/(auth-pages)/sign-up/[[...sign-up]]/page.tsx
  src/app/[locale]/(header-scope)/(authenticated)/dashboard/page.tsx
  src/app/[locale]/(header-scope)/(authenticated)/layout.tsx
  src/app/[locale]/(header-scope)/about/page.tsx
  src/app/[locale]/(header-scope)/example/page.tsx
  src/app/[locale]/(header-scope)/layout.tsx
  src/app/[locale]/(header-scope)/page.tsx
  src/app/[locale]/layout.tsx
  src/components/Header.tsx
  src/middleware.ts
  src/styles/globals.css
Due: eslint --fix, prettier --write

feat: add auth localizations
  package-lock.json
  package.json
  src/app/[locale]/(auth-pages)/layout.tsx
  src/app/[locale]/(auth-pages)/sign-in/[[...sign-in]]/page.tsx
  src/app/[locale]/(auth-pages)/sign-up/[[...sign-up]]/page.tsx
  src/app/[locale]/(header-scope)/about/page.tsx
  src/app/[locale]/(header-scope)/example/page.tsx
  src/app/[locale]/(header-scope)/page.tsx
  src/app/[locale]/layout.tsx
  src/locales/de.json
  src/locales/en.json
  src/utils/config.ts
Due: eslint --fix, prettier --write

ci: comment out e2e tests for clerk integration
  .github/workflows/ci.yml
Due: none

feat: add-auth-with-clerk (#5)
  .github/workflows/ci.yml
  __tests__/home.test.tsx
  package-lock.json
  package.json
  public/next-white.svg
  src/app/[locale]/(auth-pages)/layout.tsx
  src/app/[locale]/(auth-pages)/sign-in/[[...sign-in]]/page.tsx
  src/app/[locale]/(auth-pages)/sign-up/[[...sign-up]]/page.tsx
  src/app/[locale]/(header-scope)/(authenticated)/dashboard/page.tsx
  src/app/[locale]/(header-scope)/(authenticated)/layout.tsx
  src/app/[locale]/(header-scope)/about/page.tsx
  src/app/[locale]/(header-scope)/layout.tsx
  src/app/[locale]/(header-scope)/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/components/Header.tsx
  src/locales/de.json
  src/locales/en.json
  src/middleware.ts
  src/styles/globals.css
  src/utils/config.ts
Due: eslint --fix, prettier --write

feat: add shadcn, button component and style guide page
  .eslintrc.json
  components.json
  package-lock.json
  package.json
  src/app/[locale]/(header-scope)/style-guide/page.tsx
  src/components/Header.tsx
  src/components/ui/button.tsx
  src/styles/globals.css
  src/utils/helpers.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write

feat: add shadcn, button component and style guide page (#6)
  .eslintrc.json
  components.json
  package-lock.json
  package.json
  src/app/[locale]/(header-scope)/style-guide/page.tsx
  src/components/Header.tsx
  src/components/ui/button.tsx
  src/styles/globals.css
  src/utils/helpers.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write
